@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  font-family: "Noto Sans Khmer", " Roboto", sans-serif;
  overflow-x: hidden;
}

:root {
  --color-text: #030307;
  --color-background: #f5f5f5;
  --color-primary: #0a0a0a;
  --color-secondary: #f1f4f8;
  --color-accent: #fdfaff;
  --color-dark: #1f2937;
  --color-gray: #6b7280;
}