@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  font-family: "Noto Sans Khmer", " Roboto", sans-serif;
  overflow-x: hidden;
}